	*.d
	*.o
	doc/
	include/integration.h
	include/integration.h~
	include/numerov.h
	include/numerov.h~
	include/plot.h~
	include/rungekutta.h
	include/rungekutta.h~
	include/simulations.h
	include/simulations.h~
	include/types.h
	include/types.h~
	main/cylinder
	main/jumps2D.c
	main/output/*.dat
	modules/integration/
	modules/numerov/
	modules/rungekutta/
	modules/simulations/

